.place__image {
  width: 460px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 880px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 710px) {
  .place__image {
    width: 280px;
  }
}

@media screen and (max-width: 580px) {
  .place__image {
    width: 220px;
  }
}

@media screen and (max-width: 480px) {
  .place__image {
    width: 320px;
  }
}
