.header__lang-box {
  margin-bottom: 6px;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 420px) {
  .header__lang-box {
    margin-bottom: 8px;
  }
}
