.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__text {
    gap: 25px;

  }
}

@media screen and (max-width: 650px) {
  .place__text {
    margin-left: 16px;
  }
}
