.place__paragraph {
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  max-width: 484px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 880px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 710px) {
  .place__paragraph {
    max-width: 406px;
  }
}

@media screen and (max-width: 580px) {
  .place__paragraph {
    max-width: 470px;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph {
    max-width: 288px;
  }
}
