.cover__wrapper {
  width: calc(100% - 48px * 2);
  min-height: 740px;
  margin: 0 auto 92px;
  background: url('../../../images/cover-trains.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  z-index: 1;
  padding-top: 245px;
  position: relative;
}
