.place__website {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 650px) {
  .place__website {
    max-width: 288px;
    align-self: auto;
    margin: 0 0 32px 16px;
  }
}
